{% extends "rgmloans/layout.html" %}
{% load static %}
{% block content %}
<div id="allApplicationsDiv" class="allApplicationsDiv" >
    {% if applications %}
      <h2> All applications </h2>
    {% else %}
      <h2> No applications to show </h2>
    {% endif %}
</div>
<div class="statusesDiv" id="statusesDiv">
  {% if statuses %}
      {% for status in statuses %}
        {{ status }}
      {% endfor %}
      {% endif %}
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'rgmloans/applications.js' %}"></script>
{% endblock %}
