{% extends "rgmloans/layout.html" %}
{% load static %}
{% block content %}
<div id="contactOfficesDiv" class="contactOfficesDiv" >
    <div id="officesDiv" class="officesDiv" >
        <h2>Contact RGM </h2>
        <h3>Contact RGM Loans</h3>
        We appreciate your interest in RGM Loans. 
        <h3><strong>General Inquiries</strong></h3>
        Toll-free from the United States and Canada
        1 (111) 111-1111
        <br>
        Outside the United States and Canada
        1 (111) 111-1110
        <br>
        <h3>Our Offices</h3>        
        <h3>RGM Toronto</h3>        
        1, Abc Street,
        Toronto,CA
        <h3>RGM Vancouver</h3>        
        1, Abc Street,
        Vancouver,CA
        <h3>RGM Loans Head Office</h3>        
        1, Abc Street,
        Toronto,CA
        <br>
        For specific questions, get in touch with the 'Connect with us' form
    </div>
    <div id="contactDiv" class="contactDiv" >
        <h2>Connect with us</h2>
        <form   id="contact-form"  method="post"  action="javascript:contact_user();">
        {% csrf_token %}
        <div class="contact-form-group">
            <input class="contact-form-control" autofocus id="fullname" type="text" name="fullname" placeholder="Full Name" required>
        </div>
        <div class="contact-form-group">
            <input class="contact-form-control" type="email" name="email"id="email" placeholder="Email Address" required>
        </div>
        <div class="contact-form-group">
            <input class="contact-form-control" autofocus type="text" name="phone" id="phone" placeholder="Phone Number" required>
        </div>
        <div class="contact-form-group">
            <input class="contact-form-control" autofocus type="text" name="postal" id="postal" placeholder="Postal Code" required>
        </div>
        <div class="contact-form-group">
            <input class="contact-form-control" autofocus  style="height:150px;" type="text" name="message" id="message" placeholder="Message or Question" required>
        </div>
        <input class="login-contact-btn" type="submit" value="Contact">
        </form>
    </div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'rgmloans/index.js' %}"></script>
{% endblock %}
