{% extends "rgmloans/layout.html" %}
{% load static %}
{% block content %}
    <div id="userIndexDiv" class="userIndexDiv">
        {% if message %}
            <h2>{{ message }}</h2>
        {% endif %}
        {% if categories  %}
        <input type="hidden" id="categories" name="categories" value="{{categories}}">
        {% endif %}
        <input type="hidden" id="username" name="username" value="{{request.user}}">
      <div id="userLoansDiv" class="userLoansDiv">
        {% if loans %}
          <h2> Your Loans </h2>
          {% for loan in loans %}
            <div class="userLoanDiv">
              <p><strong>Loan Approved On:</strong> {{loan.date_approved}}
                <br><strong>Payment starting date:</strong>{{loan.payment_starting_date}}
                <br><strong>Last Payment date:</strong>{{loan.payment_ending_date}}
                <br><strong>Payment Frequency:</strong>{{loan.payment_frequency}}
                <br><strong>Payment Amount:</strong> {{loan.payment_amount}}
                <br><strong>Interest Rate:</strong> {{loan.interest_rate}}
                <br><strong>Loan Tenure(Months):</strong> {{loan.num_of_months}}
                <br><strong>Number of Payments:</strong> {{loan.no_of_payments}}
                <br><strong>Payments Made:</strong>{{loan.payments_made}}
                <br><strong>Payments Remaining:</strong>{{loan.payments_remaining}}
                <br><strong>Balance Owing:</strong>{{loan.balance_owing}}
              </p>
            </div>
          {% endfor %}
        {% else %}
          <h2> No Loans to show </h2>
        {% endif %}
      </div>
      <div id="userApplicationsDiv" class="userApplicationsDiv">
            {% if applications %}
              <h2> Your applications </h2>
              {% for application in applications %}
                <div class="userApplicationDiv">
                  <p><strong>Loan Applied:</strong> {{application.loan_applied_for.category}}
                    <br><strong>Requested Amount:</strong> {{application.requested_amount}}
                    <br><strong>Date Applied:</strong> {{application.date_applied}}
                    <br><strong>Status:</strong>{{application.status}}
                    </p>
                    {% if application.status == 'Applied' or application.status == 'Pending' %}
                      {% with application.id as id %}
                        <button  class="login-contact-btn" onclick="javascript:withdraw_application(id)" id="btnDeleteApplication-{{ id }}">Withdraw Application</button>
                      {% endwith %}
                    {% endif %}
                </div>
              {% endfor %}
            {% else %}
              <h2>No applications to show </h2>
            {% endif %}
        </div>
        <div id="newApplicationDiv" class="newApplicationDiv">
            <h3>
              Looking for some more credit? Click on the button below to apply for  a loan.We will use you existing profile.If anything has changed,please update your profile before applying.
            </h3>
            <button  class="login-contact-btn" onclick="javascript:new_application()" id="btnNewApplication">Apply For a Loan</button>
        </div>
      </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'rgmloans/index.js' %}"></script>
{% endblock %}
 