{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
<link href="{% static 'rgmloans/styles.css' %}" rel="stylesheet">

</head>
<body>
        <div class="layoutDiv"></div>
                <div class="header">
                    <a class="nav-link" href="{% url 'index' %}"><img src="/static/rgmloans/logo.png"></a>
                    <img src="/static/rgmloans/header-get-approved.jpeg"></a>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <div class="welcomeDiv" >
                                <h1>Welcome Admin</h1>
                            </div>
                        {% else %}
                            <div class="welcomeDiv" >
                                <h1>Welcome {{user}}</h1>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="welcomeDiv" >
                            <a class="nav-link" href="{% url 'contact' %}"><h2>Contact Us</h2></a>
                        </div>                        
                    {% endif %}

                </div>
                <div class="contentDiv">
                        <div class="sidebar">
                                <ul class="navbar-nav mr-auto">
                                        {% if user.is_authenticated %}
                                            {% if user.is_superuser %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'applications' %}">Applications</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'loans' %}">Loans</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'users' %}">Users</a>
                                            </li>
    
                                            {% else %}
                                            <li class="nav-item"></li>
                                            <a class="nav-link" href="{% url 'profiles' username=request.user %}">Profile</a>
                                            </li>
                                            {% endif %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                                            </li>
                                        {% else %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                                            </li>
                                        {% endif %}
                                      </ul>
                        </div>
                        {% block content %}
                        {% endblock %}
                </div>
        </div>
              
</body>

</html>
   
{% block script %}

{% endblock script %}
