{% extends "rgmloans/layout.html" %}
{% load static %}
{% block content %}
<div id="profileDiv" class="profileDiv" >
  <div width="1000px"> <img src="/static/rgmloans/profile.jpeg"></div>
  <div id="editProfileDiv" class="editProfileDiv" >

    {% if provinces %}
    <input type="hidden" id="provinces" name="provinces" value="{{provinces}}">
    {% endif %}

    {% if profile %}
    <input type="hidden" id="profileId" name="profileId" value="{{profile.id}}">
    <input type="hidden" id="username" name="username" value="{{profile.username}}">

    <ul class="navbar-nav mr-auto">
         <li class="nav-item">
          <input type="hidden" id="first_name" name="first_name" value="{{profile.first_name}}">
          <h2>  First Name:{{profile.first_name}} </h2>
        </li>
        <li class="nav-item">
          <input type="hidden" id="last_name" name="last_name" value="{{profile.last_name}}">
          <h2>Last Name:{{profile.last_name}} </h2>
        </li>
        <li class="nav-item">
          <input type="hidden" id="address" name="address" value="{{profile.address}}">
          <h2> Address:{{profile.address}} </h2>
        </li>
        <li class="nav-item">
          <input type="hidden" id="city" name="city" value="{{profile.city}}">
          <h2>  City:{{profile.city}} </h2>
        </li>
        <li class="nav-item">
          <input type="hidden" id="province" name="province" value="{{profile.province}}">
          <h2>  Province:{{profile.province}} </h2>
        </li>
        <li class="nav-item">
          <input type="hidden" id="postal_code" name="postal_code" value="{{profile.postal_code}}">
          <h2>  Postal Code:{{profile.postal_code}} </h2>
        </li>
        <li class="nav-item">
          <input type="hidden" id="phone" name="phone" value="{{profile.phone}}">
          <h2>  Phone:{{profile.phone}} </h2>
        </li>
        <li class="nav-item">
          <input type="hidden" id="company" name="company" value="{{profile.company}}">
          <h2> Company/Business:{{profile.company}} </h2>
        </li>
        <li class="nav-item">
          <input type="hidden" id="annual_family_income" name="annual_family_income" value="{{profile.annual_family_income}}">
          <h2>Annual Family Income:{{profile.annual_family_income}} </h2>
        </li>
        <li class="nav-item">
          <input type="hidden" id="total_expenses" name="total_expenses" value="{{profile.total_expenses}}">
          <h2>Total Monthly Expenses:{{profile.total_expenses}} </h2>
        </li>
        <li class="nav-item">
          <input type="hidden" id="existing_loan_payments" name="existing_loan_payments" value="{{profile.existing_loan_payments}}">
          <h2> Existing Loan Payments(Monthly):{{profile.existing_loan_payments}} </h2>
        </li>
        <li class="nav-item">
          <input type="hidden" id="assets_total" name="assets_total" value="{{profile.assets_total}}">
          <h2> Assets Total:{{profile.assets_total}} </h2>
        </li>
        <li class="nav-item">
          <input type="hidden" id="credit_rating" name="credit_rating" value="{{profile.credit_rating}}">
          <h2> Credit Rating:{{profile.credit_rating}} </h2>
        </li>
        {% if request.user.username == profile.username %} 
        <li class="nav-item">
          <button  class="login-contact-btn" onclick="javascript:edit_profile()" id="btnEditProfile">Edit Profile</button>
        </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'rgmloans/profile.js' %}"></script>
{% endblock %}