{% extends "rgmloans/layout.html" %}
{% load static %}
{% block content %}
<div id="adminUsersDiv" class="adminUsersDiv" >
  <div id="allUsersDiv" class="allUsersDiv" >
    {% if users %}
     <h2> All Users </h2>
    <table>
        {% for user in users %}
          <tr>
            <td>
              <h3>
                {% with user.username  as username %}
                  {% if  user.is_superuser %}
                  {% else %}
                    <a class="nav-link" href="javascript:show_user_profile('{{username}}')">{{user.username}}</a>
                    {% endif %}
                    {% endwith %}
              </h3>
            </td>
          </tr> 
        {% endfor %}

      </table>
    {% else %}
      <h2> No users to show </h2>
    {% endif %}
  </div>
  <div id="userProfileDiv" class="userProfileDiv" >
    <div> <img src="/static/rgmloans/profile.jpeg"></div>

  </div>
</div>


{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'rgmloans/user.js' %}"></script>
<script type="text/javascript" src="{% static 'rgmloans/profile.js' %}"></script>

{% endblock %}
